a:hover {
  color: inherit;
}

.app-background-image{
  /* 右側が濃い色 */
  background-image: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(90deg, rgba(255,169,159, 0.71),rgb(252,101,145));
  /* 左側が濃い色 */
  /* background-image: radial-gradient(circle at 33% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),
  radial-gradient(circle at 76% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),
  radial-gradient(circle at 77% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),
  radial-gradient(circle at 79% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),
  radial-gradient(circle at 90% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),
  radial-gradient(circle at 81% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),
  radial-gradient(circle at 87% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),
  radial-gradient(circle at 70% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),
  linear-gradient(270deg, rgba(255,169,159, 0.71), rgb(252,101,145)); */
  min-height: 100vh; /* 画面全体の高さを確保 */
  padding-bottom: 20px; /* 画面下の余白 */
}

.pink-shadow{
  color: #333333;
  border-radius: 3px;
  box-shadow: 0px 5px 30px 0px rgba(224, 144, 196, 0.35);
}

.bg-peach-light{
  background-color: #F0C6C1;
}

#parent-box {
  position: relative;
}

#currency{
  position: absolute;
  bottom:4px;
  left: 0;
}

/* フラッシュメッセージのスタイル */
.flash-message {
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.alert-success {
  background-color: #CFF4FC;
  color: gray;
}

.alert-error {
  background-color: #f44336;
  color: white;
}
